li{
    color: rgb(102, 155, 24);
    
}
h1{
    color: purple;
    border-color: yellow;
    border-width: 2px;
    border-style: groove;
}
body{
    background-image: url(pexels-matheus-bertelli-3697811.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.moon{
    color: aqua;
    font-size: 20px;
    background-color: aliceblue;
}
#europa-text{
    font-size: 18px;
    color: rgb(231, 15, 51);
}